.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.button {
  border: 0;
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  background: #0B666A;
  color: #ffffff;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background: #35A29F;
}
